@font-face {
    font-family: 'Roboto Medium';
    src: url('../fonts/Roboto-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Medium';
    src: url('../fonts/Roboto-MediumItalic.ttf');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto Normal';
    src: url('../fonts/Roboto-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Bold';
    src: url('../fonts/Roboto-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

.common_box {
    width: 1219px;
    margin: 0 auto;
}

header {
    position: fixed;
    background-color: #007765;
    padding: 20px 55px 19px;
    top: 0; 
    width: 1219px;
    /* Почему top: 0; и width: 1219px; нет по-умолчанию? */
    height: 84px;
}

.logo {
    width: 184px;
    height: 45px;
    margin-right: 502px;
}

.header_text_box {
    display: inline-block;
    /* margin-bottom и padding-bottom почему-то не применяются */
}

.header_text {
    font-family: 'Roboto Medium';
    color: #FFFFFF;
    font-size: 24px;
    font-style: normal;
    text-decoration: none;
}

.block_1 {
    margin-top: 84px;
    padding: 0 55px;
    background: center url(../img/background_image_1.png);
    background-size: cover;
    text-align: center;
    padding: 160px 0;
}

.block_1_header {
    font-family: 'Roboto Medium';
    font-size: 72px;
    color: #FFFFFF;
    font-style: normal;
    vertical-align: middle; 
} 

.block_2 {
    padding: 48px 55px 92px;
    background-color: #EEEEEE;
    text-align: center;
}

.block_2_header {
    color: #007765;
    font-size: 64px;
    font-family: 'Roboto Medium';
    font-style: normal;
    padding-bottom: 16px;
}

.block_2_text {
    font-family: 'Roboto Normal';
    font-style: normal;
    font-size: 32px;
    color: #000000;
}

.block_2_text_bold {
    font-family: 'Roboto Bold';
    font-style: normal;
}

.block_3 {
    padding: 128px 163px 127px;
    background: center url(../img/background_image_2.png);
    background-size: cover;
    height: 483px;
    text-align: center;
}

.block_3_text {
    font-family: 'Roboto Medium';
    font-style: italic;
    font-size: 48px;
    color: #FFFFFF;
}

.block_4 {
    padding: 48px 55px 92px;
    background-color: #FFFFFF;
}

.ppc_logo {
    width: 115px;
    height: 115px;
    float: left;
    margin-right: 48px;
    margin-top: 91px;
}

.block_4_header {
    font-family: 'Roboto Medium';
    font-style: normal;
    color: #007765;
    font-size: 64px;
    padding-bottom: 16px;
}

.block_4_text {
    font-family: 'Roboto Normal';
    font-style: normal;
    font-size: 32px;
    color: #000000;
}

.clearfix {
    clear: both;
}

.block_5 {
    padding: 48px 55px 94px;
    background-color: #EEEEEE;
    text-align: center;
}

.block_5_header {
    color: #007765;
    font-size: 64px;
    font-family: 'Roboto Medium';
    font-style: normal;
    padding-bottom: 32px;
}

.block_5_team {
    display: inline-block;
    width: 350px;
    height: 283px;
}

.block_5_team_img {
    width: 168px;
    height: 168px;
    padding-bottom: 12px;
}

.block_5_team_name {
    font-family: 'Roboto Bold';
    font-style: normal;
    font-size: 24px;
    color: #007765;
}

.block_5_team_description {
    font-family: 'Roboto Normal';
    font-size: 18px;
    color: #000000;
}

footer {
    background-color: #333333;
    padding: 48px 340px 64px 339px;
    text-align: center;
}

.footer_text {
    font-family: 'Roboto Normal';
    font-style: normal;
    font-size: 18px;
    color: #FFFFFF;
}